@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

body {
  @apply bg-white text-black dark:bg-zinc-950 dark:text-zinc-100;
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

.fade-in {
  animation: fadeIn 0.15s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0.4;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
